.DS_Store
node_modules/
node_modules_/
node_modules__/
cdb_data___/
dist/
dist_*/
build/
build_*/
.swc/
test.ts
test*.ts
test*.*
_test*.*
test/
test_*/
*_old
zbash.sh
zqrcode.jpg
database_export*.json
database_import*.json
*.env

