.pr {
  position: relative;
}

.pa {
  position: absolute;
}


.fixed-top {
  position: fixed;
  top: 0rem;
}

.safe-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.safe-height {
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
  min-height: 1.7rem;
  min-height: 1.7rem;
}

.loading-small {
  width: var(--rem_base);
  height: var(--rem_base);
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: loading-small 1s steps(12, end) infinite;
  animation: loading-small 1s steps(12, end) infinite;
  background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
  background-size: 100%;
}

@-webkit-keyframes loading-small {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg) scale(1);
    transform: rotate3d(0, 0, 1, 0deg) scale(1);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg) scale(1);
    transform: rotate3d(0, 0, 1, 360deg) scale(1);
  }
}

@keyframes loading-small {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg) scale(1);
    transform: rotate3d(0, 0, 1, 0deg) scale(1);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg) scale(1);
    transform: rotate3d(0, 0, 1, 360deg) scale(1);
  }
}

@keyframes loading___{
  0%,
  33.33% {
    content: ".";
  }
  33.34%,
  66.66% {
    content: "..";
  }
  66.67%,
  100% {
    content: "...";
  }
}

.loading___::after {
  content: ".";
  display: inline-block;
  animation: loading___ 1s steps(1, end) infinite;
}



.inline {
  display: inline !important;
}


.lh100 {
  line-height: 100% !important;
}

.nw {
  white-space: nowrap !important;
}

.nw1 {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
}
.nw2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.nw3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ovh {
   backface-visibility: hidden !important;
   transform: translate3d(0, 0, 0) !important;
  overflow: hidden !important;
}

.vbh {
  visibility: hidden !important;
}




.fwb {
  font-weight: bolder !important;
}

.fwl {
  font-weight: lighter !important;
}



@each $item in 06,07,08,09,10,11,12,13,14,15,16,17,18,19 {
  .fs$(item) {
    font-size:  calc($(item) * var(--change_base) * 16 / 10) !important;
  }
}

.iio{
  border-radius:calc(3 * var(--change_base)) !important;
}

.ioo{
  border-radius:calc(10 * var(--change_base)) !important;
}
.IOO{
  border-radius:calc(20 * var(--change_base)) !important;
}

@each $item in 0, 1, 2, 4, 6, 8, 10, 15, 20 {
  .o$(item) {
    border-radius:calc($(item) * var(--change_base)) !important;
  }

  .ot$(item) {
    border-top-right-radius: calc($(item) * var(--change_base)) !important;
    border-top-left-radius: calc($(item) * var(--change_base)) !important;
  }
  .ob$(item) {
    border-bottom-right-radius: calc($(item) * var(--change_base)) !important;
    border-bottom-left-radius: calc($(item) * var(--change_base)) !important;
  }
  .ol$(item) {
    border-top-left-radius: calc($(item) * var(--change_base)) !important;
    border-bottom-left-radius: calc($(item) * var(--change_base)) !important;
  }
  .or$(item) {
    border-top-right-radius: calc($(item) * var(--change_base)) !important;
    border-bottom-right-radius: calc($(item) * var(--change_base)) !important;
  }
}

.oo {
  border-radius: 100rem !important;
}

.zo {
  z-index: -1;
}

@each $item in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 99 {
  .z$(item) {
    z-index: $item;
  }
}


