
.sticky-top {
  position: sticky;
  top: 0rem;
}

.bborder {
  border-top: 1rpx solid rgba(207, 207, 207, 0.1) !important;
  border-bottom: 1rpx solid rgba(207, 207, 207, 0.1) !important;
  border-right: 1rpx solid rgba(207, 207, 207, 0.1) !important;
  border-left: 1rpx solid rgba(207, 207, 207, 0.1) !important;
  background-color: var(--color_border) !important;
}

.cccwhite {
  color: var(--color_white) !important;
}

.cccplh {
  color: var(--color_plh) !important;
}
.cccplh.border{
  border: solid 1rpx color-mix(in srgb, var(--color_plh) 20%, transparent);
}

.cccprice {
  color: var(--color_price) !important;
}
.cccprice.border{
  border: solid 1rpx color-mix(in srgb, var(--color_price) 20%, transparent);
}

.cccgreen {
  color: var(--color_green) !important;
}
.cccgreen.border{
  border: solid 1rpx color-mix(in srgb, var(--color_green) 20%, transparent);
}

.cccyellow {
  color: var(--color_yellow) !important;
}
.cccyellow.border{
  border: solid 1rpx color-mix(in srgb, var(--color_yellow) 20%, transparent);
}

.cccorange{
  color: var(--color_orange) !important;
}
.cccorange.border{
  border: solid 1rpx color-mix(in srgb, var(--color_orange) 20%, transparent);
}

.bccback {
  background-color: var(--color_back) !important;
}

.bccred {
  background-color: var(--color_red) !important;
}

.bccplh {
  background-color: var(--color_plh) !important;
}

.bccgreen {
  background-color: var(--color_green) !important;
}

.bccprice {
  background-color: var(--color_price) !important;
}

.bccyellow {
  background-color: var(--color_yellow) !important;
  color: #1b1b1b !important;
}

.bccyellowtab {
  background-color: var(--color_yellow) !important;
}

.bcctrans {
  background-color: var(--color_trans);
}
.bcctrans01-dark {
  background-color: var(--color_trans01_dark);
}


.bcctrans03 {
  background-color: var(--color_trans03);
}
.bcctrans03-dark {
  background-color: var(--color_trans03_dark);
}
.bcctrans05 {
  background-color: var(--color_trans05);
}
.bcctrans05-dark {
  background-color: var(--color_trans05_dark);
}
.bcctrans07-dark {
  background-color: var(--color_trans07_dark);
}
.bccwhite {
  background-color: var(--color_white) !important;
}

.cccwhitee {
  color: var(--color_whiteO) !important;
}

.bccbacktab {
  background-color: var(--color_back_tab) !important;
}
